* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

h1 h4 {
    color: var(--tg-theme-text-color);
}

.questions.button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    width: 120px;
    height: 50px;
}